.submitbutton, a#currentusername {
  behaviour: url(http://staticteleconnect.home.sztanpet.net/css/PIE.htc);
}
#headerbg {
  background-image: url(images/header_bg_allinone.jpg);
  background-image: url(http://staticteleconnect.home.sztanpet.net/images/header_bg_allinone.jpg);
}
#footerbg {
  background-image: url(images/footer_bg_allinone.jpg);
  background-image: url(http://staticteleconnect.home.sztanpet.net/images/footer_bg_allinone.jpg);
}
