body {
  margin:0;
  padding:0;
  font-family: "Tahoma", "Arial", "sans-serif";
  line-height: 18px;
  font-size: 12px;
  color: #333;
  background-color: #ede9d0;
}
h1, h2, h3 {
  color: #4843c;
}
a:link, a:active, a:visited {
  color: #df2f2f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}
.bold {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.ellipsize {
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hidden {
  display: none;
}
.required {
  color: red;
}
.bold {
  font-weight: bold;
}

#wrap {
  width: 1000px;
  margin: 0 auto;
  background-color: #fdfcf5;
  padding: 15px;
}
#header {
  height: 50px;
  background-color: #dfdfdf;
}
#header a, #header a span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#menu {
  margin: 10px 0;
}
#menu .welcome {
  width: 150px;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
}
#footer {
  margin: 20px;
  text-align: right;
}
#footer ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer li {
  display: inline-block;
}
.formerrors {
  background-color: red;
  color: #1f1f1f;
  font-weight: bold;
}

.actions {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0 5px 0 5px;
  float: right;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
}
.actions li {
  display: inline-block;
}

.questionlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.questionlist .questionitem {
  margin: 10px 0;
}
.questionlist .question {
  font-size: 18px;
  font-weight: bold;
}
.answerlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.answerlist .answeritem .answer {
  display: inline-block;
  font-size: 14px;
  width: 780px;
}
.answerlist .answerpercent {
  width: 780px;
  display: block;
  height: 2px;
}
.answerlist .answerpercent .bar {
  height: 2px;
  background-color: green;
}
.questionlist .answerlist {
  margin: 5px 0 0 20px;
}
.questionlist .answerlist .answeritem .answer, .questionlist .answerlist .answerpercent {
  width: 760px;
}
