  </div>
  <div id="footer">
    <ul>
      <li><a href="https://bitbucket.org/sztanpet/voting">Source</a></li>
      <li><a href="mailto:sztanpet@sztanpet.net">Contact</a></li>
      <li>&copy; sztanpet 2012</li>
     </ul>
  </div>
</div>
</body>
</html>